<html>
<head>	
 <title>SNO+ CI :: {title}</title>
 <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="{baseURL}/static/css/style.css">
 <link rel="stylesheet" href="{baseURL}/static/css/boxy.css">
 <script src="{baseURL}/static/js/jquery-1.5.2.min.js"></script>
 <script src="{baseURL}/static/js/json2.js"></script>
 <script src="{baseURL}/kanso.js"></script>
 <script src="{baseURL}/static/js/jquery.boxy.js"></script>
</head>

<body class="dashboard" style="width:100%;font-family:'Droid Serif',serif;">
 <div id="header">
  <a href="{baseURL}/" onClick="window.location='{baseURL}/'">
  <div id="branding">
   <h1 id="site-name">SNO+ Build Testing and CI</h1>
  </div>
  </a>
 </div>

 <div style="display:table;width:90%">
  <div style="display:table-row;width:100%">
  <div style="display:table-cell;width:100%" id="content">
   {content|s}
  </div>

  <div style="display:table-cell;align:right;width:20%">
   <div class="box">
   <h3>Legend</h3>
   <table>
    <tr>
     <td><span style="display:block;background:green;width:12px;">&nbsp;</span></td>
     <td>Succeeded</td>
    </tr>
    <tr>
     <td><span style="display:block;background:red;width:12px;">&nbsp;</span></td>
     <td>Failed</td>
    </tr>
    <tr>
     <td><span style="display:block;background:blue;width:12px;">&nbsp;</span></td>
     <td>In Progress</td>
    </tr>
    <tr>
     <td><span style="display:block;background:gray;width:12px;">&nbsp;</span></td>
     <td>Waiting</td>
    </tr>
   </table>
   </div>
  </div>
 </div>

<br/>
<div style="width:90%;text-align:right;font-size:x-small">
Powered by <a href="http://github.com/mastbaum/pytunia">pytunia</a>,
<span style="display:inline-block;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);">&copy;</span>
<a href="mailto:mastbaum@hep.upenn.edu">Andy Mastbaum</a>
</div>
</body>
</html>

